:root {
  --bg-primary: #fff;
  --bg-secondary: #f9fafb;
  --border-primary: #d0d5dd;
  --border-secondary: #eaecf0;
  --text-primary: #101828;
  --text-secondary: #667085;
  --text-tertiary: #475467;

  --cancel-text: #344054;
  --cancel-border: #d0d5dd;
  --add-text: #6941c6;
  --add-border: #d6bbfb;

  --foreground: var(--text-primary);
  --background: var(--bg-primary);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    // dark mode
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
